@import "./base.css";

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  background-color: var(--color-background);
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 24px 16px 48px;
  font-family: "Noto Sans SC", sans-serif;
}

video {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  object-fit: cover;
  z-index: -1;
}
